
.news {
    display: inline-block;
    width: 31%;
    margin-right: 20px;
    text-align: justify;
}

h1 {
    font-weight: normal;
    font-size: 42px;
    font-family: Circular-Book, Arial, sans-serif;
}

.underlined {
    max-width: 415px;
    border-bottom: 2px solid white;

}