header {
    padding: 10px 0 0;
    overflow: auto;
}

h1 {
    margin: 0;
 }

 ul {
    list-style: none;
    float: right;
    
    li {
        padding: 18px;
        display: inline-block;

        span {
            display: inline-block;
            border-bottom: 2px solid white;
        }
    }
 }

 img {
     height: 69px;
     float: left;
 }