header {
  padding: 10px 0 0;
  overflow: auto;
  height: 250px;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
  float: right;

  li {
    padding: 18px;
    display: inline-block;

    span {
      display: inline-block;
      border-bottom: 2px solid white;
    }
  }
}

img {
  height: 69px;
  float: left;
}

app-subscription {
  position: relative;
  top: 120px;
}
