header {
    border-bottom: 1px solid white;
    padding: 10px 0 0;
    overflow: auto;
}

h1 {
    margin: 0;
 }

 ul {
    padding: 18px 0 0;
    list-style: none;
    float: right;
    
    li {
        padding: 18px;
        display: inline-block;
    }
    
    .underlined {
        padding: 18px 3 18px 0;
        border-bottom: 2px solid white;
    }
 }

 img {
     height: 69px;
     float: left;
 }